/.web-server-pid
/_gcp/*
/_sql/*
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/import
/web/uploads
.idea/
composer.lock
composer.phar
/nbproject
/web/error.log
/web/access.log
/web/backup/
/web/command/
/cli.txt
/web/precommand/
